<header class="col">
	<p class="style-guide-header">
		Kleuren
	</p>
</header>
<div class="media xsmall-6 medium-3 large-2 col color">
	<div class="alpha style-guide-color"></div>
	<p class="media-meta">
		#464646
	</p>
</div>
<div class="media xsmall-6 medium-3 large-2 col color">
	<div class="beta style-guide-color"></div>
	<p class="media-meta">
		#e8e6e5
	</p>
</div>
<div class="media xsmall-6 medium-3 large-2 col color">
	<div class="gamma style-guide-color"></div>
	<p class="media-meta">
		#f08126
	</p>
</div>
<div class="media xsmall-6 medium-3 large-2 col color">
	<div class="delta style-guide-color"></div>
	<p class="media-meta">
		#fff200
	</p>
</div>
<div class="media xsmall-6 medium-3 large-2 col color2">
	<div class="epsilon style-guide-color"></div>
	<p class="media-meta">
		#5ba0e8
	</p>
</div>


