<div class="persona">
	<div class=" mask ratio--square persona-img">
		<img src="img/persona.jpg" alt="profile-img">
	</div>
	<div class="persona-intro">
		<h3>Marc, 38 jaar en een recreatief sporter</h3>
		<p>Doet regelmatig aan verschillende sporten
			Zoekt veel informatie op over sport
			Leest veel artikels, zowel digitaal als analoog
			Houdt van reizen en is veel onderweg
			Heeft veel kennis over reizen en sporten

		</p>

	</div>




	<div class="designpersona-info">
		<h3>Brand Traits</h3>

		<ul>
			<li>Een algemene brede kennis</li>
			<li>Sportief maar niet professioneel</li>
			<li>Sociaal en aanspreekbaar</li>
			<li>Rustig maar volhardend</li>
			<li>Kritische lezer en schrijver</li>
			<li>Deelt graag zijn ervaringen en kennis</li>
		</ul>
	</div>



	<div class="designpersona-info">
		<h3> Personality map</h3>
		<p>
			Outdoorfan biedt een ruim aanbod van buitensport artikels aan. Deze artikels zijn geschreven door en voor liefhebbers van de buitensport. Een duidelijke structuur en recent nieuws staan centraal bij Outdoorfan.
		</p>
	</div>



</div>
