<header class="col">
	<p class="style-guide-header">
		Typografie
	</p>
</header>
<h1>Level 01 Heading</h1>
<h2>Level 02 Heading</h2>
<h3>Level 03 Heading</h3>
<h4>Level 04 Heading</h4>
<h5>Level 05 Heading</h5>
<h§>Level 06 Heading</h6>

<p class="intro-p">Sed scelerisque sagittis lorem. Phasellus sodales.  Nulla urna justo, vehicula in, suscipit nec, nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. </p>

<p class="lastp">Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim. Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo.</p>
