<div class="icons icons1">

    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon js-code">
            <span class="icon icon-quote"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon">
            <span class="icon icon-checkmark"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon">
            <span class="icon icon-cancel"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon">
            <span class="icon icon-chart"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon">
            <span class="icon icon-location"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon">
            <span class="icon icon-comments"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon">
            <span class="icon icon-attachment"></span>
        </p>
    </div>

</div>

<div class="icons icons2">

    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon3 js-code">
            <span class="icon icon-quote"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon3">
            <span class="icon icon-checkmark"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon3">
            <span class="icon icon-cancel"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon3">
            <span class="icon icon-chart"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon3">
            <span class="icon icon-location"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon3">
            <span class="icon icon-comments"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon3">
            <span class="icon icon-attachment"></span>
        </p>
    </div>

</div>

<div class="icons icons3">

    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon2 js-code">
            <span class="icon icon-quote"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon2">
            <span class="icon icon-checkmark"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon2">
            <span class="icon icon-cancel"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon2">
            <span class="icon icon-chart"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon2">
            <span class="icon icon-location"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon2">
            <span class="icon icon-comments"></span>
        </p>
    </div>
    <div class="media xsmall-6 medium-2 xlarge-1 col">
        <p class="style-guide-icon2">
            <span class="icon icon-attachment"></span>
        </p>
    </div>

</div>
