---
layout: default
title: Patterns
section: styleguide
---
<div class="holder main-holder" id="colorchanger">
	<div class="row main-row">
		<div class="main-content">

		<!-- DESIGN PERSONA -->

			<div class="row">
				<div class="grid-12">
					{% include patterns/designpersona.html %}
				</div>

			</div>


			<hr/>


			<div class="row">
				<div class="grid-8">
					{% include patterns/sitemap.html %}
				</div>

			</div>

			<hr/>


			<div class="row">
				<div class="grid-12">
					{% include patterns/colors.html %}
				</div>

			</div>

			<hr/>

			<div class="row">
				<div class="grid-12">
					{% include patterns/buttons.html %}
				</div>

			</div>

			<hr/>

			<div class="row">
				<div class="grid-12">
					{% include patterns/fonts.html %}
				</div>

			</div>

			<hr/>

			<div class="row">
				<div class="grid-12">
					{% include patterns/logo.html %}
				</div>

			</div>





		</div>
	</div>
</div>
