---
layout: default
title: Patterns
section: styleguide
---
<div class="holder main-holder">
	<div class="row main-row">
		<div class="main-content">



			<div class="row">
				<div class="grid-8">
					{% include patterns/base.html %}
				</div>

			</div>


			<hr/>


			<div class="row">
				<div class="grid-8">
					{% include patterns/buttons.html %}
				</div>

			</div>


			<hr/>


			<div class="row">
				<div class="grid-8">
					{% include patterns/icons.html %}
				</div>

			</div>



		</div>
	</div>
</div>
