//
// Frame
//

.holder {
	background-color: $bg-color;
	@include padding-tb(1,0);


	@include mq($bp4) {
		@include padding-tb(1,1);
	}
}

.header-holder{
	border-top: 2px solid $alpha-text-color;
	@include mq($bp3) {
		border: transparent;
	}
}
//
// Header
//
.headerimage{
	position: absolute;
	width: 100%;

}

.gradient-pic{
	position: absolute;
	width: 100%;
	height: 400px;
	@include background-opacity(black,0.65);
}

.header {

	@include mq($bp3) {
		@include padding-tb(0,2);

	}

	@include box-(12,1,1);

	@include mq($bp4) {
		@include box-(12,1,1);

	}
}

	.header .inner {
		@extend %clearfix;
		//border-bottom: 1px solid lighten($alpha-text-color,60);
	}

.header-holder {
	@include padding-top(0);
	@include mq($bp3) {
		@include padding-top(0);
	}
}

	.header-holder .inner {

		text-align: center;

		@include padding-tb(1.5,0);

		@include mq($bp3) {
			text-align: center;
			@include padding-tb(3,1);
		}

		@include mq($bp4) {
			text-align: center;
			@include padding-tb(3,0);
		}
	}

.logo {
	font-family: $alpha-font-family;
	color: $delta-ui-color;
	font-weight: $alpha-font-weight;
	position: relative;
	@include text-dimensions(30,1.5,0);
	//@include background-opacity($delta-ui-color, 1);

	@include mq($bp3) {
		//float: left;
		width: 100%;
		@include text-dimensions(40,2,0);
	}

	@include mq($bp4) {

		@include text-dimensions(50,2.8,0);
	}

	@include mq($bp5) {

		@include text-dimensions(70,3.5,0);
	}
}

.baseline{
	clear: left;
	font-family: $alpha-font-family;
	color: $delta-ui-color;
	margin-top: -20px;
	@include text-dimensions(14,1,0.4);
	//@include background-opacity($delta-ui-color, 1);

	@include mq($bp3) {
		//float: left;
		@include text-dimensions(20,1.5,0);
		margin-top: -15px;
	}

	@include mq($bp4) {
		//float: left;
		@include text-dimensions(20,2,0.4);
		margin-top: -40px;
	}


}





//
// Main
//


.main-holder{
	position: relative;
}





//
// Doormat
//

.doormat-holder {
	@include padding-bottom(1);

	@include mq($bp4) {
		@include padding-bottom(2);
	}
}

	.doormat-col-4 {
		@include box-(12,1,1);

		@include mq($bp4) {
			@include box-(8,1,1);
		}
	}

//
// Footer
//

.footer-holder {
	font-size: 0.8em;
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color,70);
	@include padding-top(0.2);

	@include mq($bp4) {
		padding-bottom: 0;
	}
	position: relative;
}

	.footer {
		text-align: center;
		@include box-(12,1,1);

		@include mq($bp4) {
			@include box-(12,1,1);
		}
	}



//
// sitemap
//


.sitemap-lijst {
	font-family: $alpha-font-family;

	@include padding-tb(1,1);

	@include mq($bp3) {
		margin-left: 35%;
		@include margin-tb(0,1.3);
	}

list-style-type: none;
	ul{
		list-style-type: none;
		li{
			@include margin-tb(0.2,0.2);
		}
	}
}

.sitemap-lijst li {
	@include margin-tb(0.3,0.3);
}

.smaller {
	font-size: 0.9em;
}

//
// fonts
//

.intro-p {
	@include margin-tb(0.5,0.5);

}

.lastp {
	@include margin-tb(0.5,1.5);
}
